NODE_ENV=production
DATABASE_URL=postgresql://usuario:password@host:puerto/database
DB_SSL=true
JWT_ACCESS_SECRET=coloca_un_secreto_largo
JWT_REFRESH_SECRET=coloca_otro_secreto_largo
CORS_ORIGIN=https://TU_FRONTEND.vercel.app
COOKIE_SECURE=true
COOKIE_SAME_SITE=none
RATE_LIMIT_MAX=1000
